extends base.pug

//- block style
//-   style
//-     include ../node_modules/bootstrap/dist/css/bootstrap.min.css
//-     include ../static/css/style.css
//-     include ../static/css/mediaquery.css

block body
    .container.text-center.my-5
        a.btn.btn-primary(href='/DataBase') Get Data
    